<h1>New Contact</h1>
<%= form_tag "/contacts", method: :post do %>
  <div>
    First name: <input type="text" name="first_name">
  </div>
  <div>
    Middle name: <input type="text" name="middle_name">
  </div>
  <div>
    Last name: <input type="text" name="last_name">
  </div>
  <div>
    Email: <input type="text" name="email">
  </div>
  <div>
    Phone: <input type="text" name="phone">
  </div>
  <input type="submit" value="Create contact">
<% end %>
